    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light">
      <h1 class="mb-3">Resource Locator</h1>
      <h4 class="mb-3">Help for Panademic</h4>
      <div class="container">
      <p class="mb-3">Panademic and CoronaVirus have caused problem to all of us. Nepal was hit hard not only because we were careless but also
          that we weren't prepared neither we could access the resources. Our main goal is connect people with the hospitals and resouces. Noone should die 
          due to lack of access to the resources. Everything you need regarding covid and other health problems can be searched from here and get 
          the location where you can get the required resources.
      </p>
    </div>
      <a
  class="btn btn-primary"
  data-mdb-toggle="collapse"
  href="#collapseWithScrollbar"
  role="button"
  aria-expanded="false"
  aria-controls="collapseExample"
>
Hospitals Near you
</a>

<!-- Collapsed content -->
<div class="collapse mt-3 scroll-section" id="collapseWithScrollbar"  style="max-width: 500px">
  Hospital are here
</div>