{% extends 'base.html' %}

{% block title %} login {% endblock title %}

{% block content %}

<h1>login</h1>

<form action="/admin_home/" method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <br>
    <input type="text" name="username">
    <br>

    <label for="password">Password</label>
    <br>
    <input type="password" name="password">
    <br>

    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <br>

    <input type="submit" value="Login">
</form>

{% endblock content %}
