{% extends 'base.html' %}

{% block title %} Admin - Login {% endblock title %}

{% block head %}
<style>
.form-signin {
    width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
</style>
{% endblock head %}

{% block content %}

<div class="form-signin">
    <form action="/admin_home/" method="POST">
        <h1 class="h3 mb-3 fw-normal text-dark text-center ">Please sign in</h1>
    {% csrf_token %}
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <br>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>

</div>

{% endblock content %}
