{% extends 'base.html' %}

{% block title %} Admin - Register {% endblock title %}

{% block head %}
<style>
.form-signin {
    width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
</style>
{% endblock head %}

{% block content %}

<main class="form-signin">
    <h1>Register</h1>
<form action="/login/" method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <br>
    {{ form.username }}
    <br>
    <label for="email">email</label>
    <br>
    {{ form.email }}
    <br>
    <label for="password1">password</label>
    <br>
    {{ form.password1 }}
    <br>
    <label for="password2">confirm password</label>
    <br>
    {{ form.password2 }}

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    {{ error|escape }}
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    {{ error|escape }}
    {% endfor %}
    {% endif %}
    <br>
    <input type="submit" value="Submit">

</form>

{% endblock content %}
