{% extends 'user_base.html' %}

{% block title %}doctor list {% endblock title %}

{% block content %}
<h1 class="text-center my-2">Doctors</h1>
<div class="container">
	<div class="row">
{% for doctor in doctors %}
<div class="col-md-4 mb-5">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="{{ doctor.hospital_image.url }}"
                    class="img-fluid card-img-top" style="height: 250px;"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ doctor.name }}</h5>
                  <a href="{% url 'doctor_detail' doctor.pk %}" class="btn btn-primary">Learn More</a>
                </div>
              </div>
        </div>
{% endfor %}
</div>
</div>

{% endblock content %}
