{% extends 'user_base.html' %}

{% block title %}doctor detail {% endblock title %}

{% block content %}

<h1 class="text-center my-2">Doctor Details</h1>
<br>
<a href="{% url 'doctor_list' %}" class="btn btn-dark my-2 ms-2 py-auto">Doctor List</a> <br>
<br>
<br>

<table class="table table-striped">
    <tr>

        <th>
            Doctor Name
        </th>
        <th>
            Doctor Email
        </th>
        <th>
            Doctor Address
        </th>
        <th>
            Doctor Speciality
        </th>
        <th>
            Doctor NMC Number
        </th>
    </tr>
    <tr>
        <td>
            {{ doctors.name }}
        </td>
        <td>
            {{ doctors.email }}
        </td>
        <td>
            {{ doctors.address }}
        </td>
        <td>
            {{ doctors.speciality }}
        </td>
        <td>
            {{ doctors.nmc_no }}
        </td>
    </tr>
</table>


{% endblock content %}
