{% extends 'user_base.html' %}

{% block title %}hospital details {% endblock title %}

{% block content %}

<h1 class="text-center my-2">Hospital Details</h1>
<br>
<a href="{% url 'doctor_list' %}" class="btn btn-dark my-2 ms-2 py-auto">Hospital List</a> <br>
<br>
<br>
<table class="table table-striped">
    <tr>
        <th>Hospital Name</th>
        <th>Hospital Email</th>
        <th>Hospital Address</th>
        <th>Hospital Contact Details</th>
    </tr>
    <tr>
        <td> {{ hospitals.name }}</td>
        <td> {{ hospitals.email }}</td>
        <td> {{ hospitals.address }}</td>
        <td> {{ hospitals.contact_no }}</td>
    </tr>
</table>
{% endblock content %}
