{% extends 'user_base.html' %}

{% block title %}volunteer details {% endblock title %}

{% block content %}

<h1>volunteer details</h1>
<br>
<a href="{% url 'volunteer_list' %}" class="btn btn-dark my-2 ms-2 py-auto">Volunteer List</a> <br>
<br>
<br>
<table border="1">
    <tr>
        <th>Hospital Name</th>
        <th>Volunteer Name</th>
        <th>Volunteer Email</th>
        <th>Volunteer Contact Details</th>
        <th>Volunteer Images:</th>
    </tr>
    <tr>
        <td>{{ volunteers.hospital.name }}</td>
        <td>{{ volunteers.name }}</td>
        <td>{{ volunteers.email }}</td>
        <td>{{ volunteers.contact_no }}</td>
        <td>{{ volunteers.volunteer_image.url }}</td>

    </tr>

</table>


{% endblock content %}
