{% extends 'user_base.html' %}

{% block title %}volunteer details {% endblock title %}

{% block content %}
<h1 class="text-center my-2">Volunteer details</h1>
<a href="{% url 'volunteer_list' %}" class="btn btn-dark my-2 ms-2 py-auto">Volunteer List</a> <br>
<br>
<br>
<table class="table table-striped">
    <tr>
        <th>Hospital Name</th>
        <th>Volunteer Name</th>
        <th>Volunteer Email</th>
        <th>Volunteer Contact Details</th>
        <th>Volunteer Images:</th>
    </tr>
    <tr>
        <td>{{ volunteers.hospital.name }}</td>
        <td>{{ volunteers.name }}</td>
        <td>{{ volunteers.email }}</td>
        <td>{{ volunteers.contact_no }}</td>

    </tr>

</table>


{% endblock content %}
